.footer {
  margin-top: 6rem;
  padding-bottom: $gutter;
  background: $secondary;
  color: $white;

  .logo {
    margin: 3rem 0;

    &::before {
      content: unset;
    }
  }

  .legal-item {
    &::before {
      background: rgba($white, 0.5) !important;
    }
  }
}

.legal {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }

  &-item {
    text-align: center;
    font-size: 12px;

    & + & {
      margin-left: 3rem;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        left: -1.5rem;
        top: 0;
        bottom: 0;
        width: 1px;
        background: rgba($black, 0.5);
      }

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-top: 0.5rem;

        &::before {
          content: unset;
        }
      }
    }
  }
}
