.services {
  margin-top: 3rem;

  &-item {
    border-radius: $bdrs;
    overflow: hidden;
    background-color: $gray-2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $white;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: $black;
      opacity: 0.65;
      z-index: -1;
      transition: $trs;
    }

    &:hover {
      .services-title {
        transform: translateY(-0.5rem);

        @include media-breakpoint-down(sm) {
          transform: translateY(-62.5%);
        }
      }

      &::after {
        background: $accent;
        opacity: 0.5;
      }
    }
  }

  &-title {
    position: absolute;
    left: 0;
    right: 0;
    top: 8rem;
    transition: $trs;
    padding: 0 3rem;
    text-align: center;

    @include media-breakpoint-down(lg) {
      top: 4rem;
    }

    @include media-breakpoint-down(sm) {
      top: 50%;
      transform: translateY(-50%);
      padding: 0 1rem;
    }
  }
}
