<div class="modal overlay" id="work-modal">
  <div class="modal-window shadow">
    <div class="hamburger active">
      <div class="hamburger-line"></div>
      <div class="hamburger-line"></div>
    </div>
    <form id="work" class="modal-content">
      <h4 class="modal-item">Хочу у вас работать</h4>
      <input type="text" name="work-name" id="work-name" class="input modal-item" required placeholder="Ваше имя">
      <input type="text" name="work-tel" id="work-tel" class="input modal-item" required placeholder="Ваш телефон">
      <div class="modal-item checkbox">
        <input name="work-policy" id="work-policy" type="checkbox" required class="checkbox-item">
        <label class="checkbox-text" for="work-policy">Соглашаюсь с политикой обработки персональных данных</label>
      </div>
      <button class="button accent modal-item" type="submit">Откликнуться</button>
    </form>
  </div>
</div>