<div class="portfolio-item">
  <img class="portfolio-img" src="img/portfolio.jpeg" alt="">
  <div class="container d-flex flex-column align-items-start">
    <h4 class="portfolio-title">Только вперед и ни шагу назад</h4>
    <p class="portfolio-text mb-auto">
      В будущем благодаря нашим проектам мы откроем двери для будущих поколений, которые будет приумножать наше наследие!
    </p>
    <a href="#" class="button accent-2">Перейти</a>
  </div>
</div>