<div class="portfolio-item">
  <img class="portfolio-img" src="img/portfolio.jpeg" alt="">
  <div class="container d-flex flex-column align-items-start">
    <h4 class="portfolio-title">No future</h4>
    <p class="portfolio-text mb-auto">
      У нас нет будущего. Вся жизнь - тлен. Ничто
      не имеет смысла. Меня бьёт мать. Я подвергаю себя моральным пыткам, слушая Hollywood Undead. У меня развилась гидроцефалия терь.
      Они не понимают. War Child - топ.
    </p>
    <a href="#" class="button accent-2">Перейти</a>
  </div>
</div>