<div class="contacts <%- theme %>">
  <div class="container d-flex justify-content-around align-items-center" style="max-width: 1200px;">
    <div class="lang">
      <a href="#" class="lang-text active">Рус</a>
      <a href="#" class="lang-text">Eng</a>
    </div>
    <a class="contacts-text" href="tel:+79114500766">+7 (911) 450-07-66</a>
    <a class="contacts-text" href="mailto:boss@life-code144.ru">boss@life-code144.ru</a>
  </div>
</div>