<div class="contacts <%- theme %>">
  <div class="container d-flex justify-content-around align-items-center" style="max-width: 1200px;">
    <div class="lang">
      <a href="#" class="lang-text active">Рус</a>
      <a href="#" class="lang-text">Eng</a>
    </div>
    <a class="contacts-text" href="tel:+88001234567">8 (800) 123-45-67</a>
    <a class="contacts-text" href="mailto:sales@log.ru">sales@log.ru</a>
  </div>
</div>