<section class="feedback">
  <div class="container">
    <div class="feedback-inner">
      <h3 class="feedback-title">Есть вопросы?</h3>
      <form id="feedback">
        <div class="row align-items-end">
          <div class="col-lg">
            <small class="feedback-agreement">Заполняя данную форму, вы соглашаетесь с <a class="text-link" href="#">политикой обработки персональных данных</a></small>
          </div>
          <div class="col-lg">
            <input class="input" name="feedback-name" id="feedback-name" type="text" required placeholder="Ваше имя">
          </div>
          <div class="col-lg">
            <input class="input" name="feedback-tel" id="feedback-tel" type="tel" required placeholder="Ваш телефон">
          </div>
          <div class="col-lg">
            <button type="submit" class="button secondary">Заказать звонок</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>