<footer class="footer">
  <%- include('contacts', { theme: 'secondary' }) %>
  <div class="container">
    <div class="row justify-content-center">
      <%- include('ui/logo') %>
    </div>
    <div class="row justify-content-center">
      <ul class="legal">
        <li class="legal-item">ИНН391202301600</li>
        <li class="legal-item">ИП Скрипченко Георгий Олегович</li>
        <li class="legal-item">ОГРНИП321392600025220</li>
      </ul>
    </div>
  </div>
</footer>