<footer class="footer">
  <%- include('contacts', { theme: 'secondary' }) %>
  <div class="container">
    <div class="row justify-content-center">
      <%- include('ui/logo') %>
    </div>
    <div class="row justify-content-center">
      <ul class="legal">
        <li class="legal-item">ИНН308512692</li>
        <li class="legal-item">ИП “Скрипка”</li>
        <li class="legal-item">ЕГРН7152922157</li>
      </ul>
    </div>
  </div>
</footer>