<header class="header">
  <div class="container">
    <%- include('ui/nav') %>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <article class="frame shadow">
          <p class="frame-text-outside">Сайт, о котором будут говорить</p>
          <div class="frame-header">
            <div class="frame-control"></div>
            <div class="frame-control"></div>
            <div class="frame-control"></div>
            <p class="frame-text">Сайт, который будет работать</p>
          </div>
          <div class="frame-content">
            <p class="frame-text">Сайт, к которому потянутся</p>
            <b class="frame-text">Команда  студии "Lifecode" разработает для вас любой проект!</b>
          </div>
        </article>
      </div>
    </div>
  </div>
</header>