<header class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col col-md-auto">
        <%- include('ui/logo') %>
      </div>
      <div class="d-block d-md-none col-auto">
        <div class="hamburger">
          <div class="hamburger-line"></div>
          <div class="hamburger-line"></div>
        </div>
      </div>
      <div class="col-12 col-md">
        <ul class="menu">
          <li class="menu-item"><a class="menu-link" href="#">Портфолио</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Услуги</a></li>
          <li class="menu-item"><a class="menu-link" href="#">О нас</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Вакансии</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Контакты</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <article class="frame shadow">
          <p class="frame-text-outside">Сайт, о котором будут говорить</p>
          <div class="frame-header">
            <div class="frame-control"></div>
            <div class="frame-control"></div>
            <div class="frame-control"></div>
            <p class="frame-text">Сайт, который будет работать</p>
          </div>
          <div class="frame-content">
            <p class="frame-text">Сайт, к которому потянутся</p>
            <b class="frame-text">Команда веб студии "Lifecode" разработает для вас любой проект!</b>
          </div>
        </article>
      </div>
    </div>
  </div>
</header>