<section class="reviews">
  <div class="container">
    <%- include('ui/heading', { subtitle: 'Отзывы', title: 'Ваши благодарности' }) %>
    <div class="row">
      <div class="col">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="review">
                <p class="review-text">
                  Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб дизайне. 
                </p>
                <figure class="review-author">
                  <img class="review-img" src="img/reviews.jpg" alt="">
                  <div>
                    <h5 class="review-name">Екатерина Иванова 1</h5>
                    <small class="review-position">Директор ООО "Раз-два"</small>
                  </div>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review">
                <p class="review-text">
                  Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб дизайне. 
                </p>
                <figure class="review-author">
                  <img class="review-img" src="img/reviews.jpg" alt="">
                  <div>
                    <h5 class="review-name">Екатерина Иванова 2</h5>
                    <small class="review-position">Директор ООО "Три-четыре"</small>
                  </div>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review">
                <p class="review-text">
                  Lorem Ipsum используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб дизайне. 
                </p>
                <figure class="review-author">
                  <img class="review-img" src="img/reviews.jpg" alt="">
                  <div>
                    <h5 class="review-name">Екатерина Иванова 3</h5>
                    <small class="review-position">Директор ООО "Пять-шесть"</small>
                  </div>
                </figure>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="review">
                <p class="review-text">
                  Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-"рыба", часто используемый в печати и веб дизайне. 
                </p>
                <figure class="review-author">
                  <img class="review-img" src="img/reviews.jpg" alt="">
                  <div>
                    <h5 class="review-name">Екатерина Иванова 4</h5>
                    <small class="review-position">Директор ООО "Семь-восемь"</small>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>