<section class="services">
  <div class="container">
    <%- include('ui/heading', { subtitle: 'Наши услуги', title: 'Мы специализируемся' }) %>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 spacing">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Ни на чем</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 spacing">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Ага, ни на чем</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 spacing">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Ну реально</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 spacing-sm">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Ну просто по приколу открылись</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 spacing-sm">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Навязываюсь? но ты же сам спросил</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Ладно, я отсяду</h4>
        </div>
      </div>
    </div>
  </div>
</section>