<section class="services">
  <div class="container">
    <%- include('ui/heading', { subtitle: 'Наши услуги', title: 'Мы специализируемся' }) %>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Разработка сайтов и интернет магазинов под ключ</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Разработка Web приложений</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Мобильные приложения android и ios</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Индивидуальный дизайн сайтов и приложений</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Настройка рекламы для ваших проектов</h4>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="services-item" style="background-image: url('img/services.jpg');">
          <h4 class="services-title">Сопровождение и обслуживание проектов на всех стадиях работы</h4>
        </div>
      </div>
    </div>
  </div>
</section>