<section class="team">
  <div class="container">
    <div class="row">
      <div class="col-lg spacing-md">
        <div class="team-about">
          <%- include('ui/heading', { subtitle: 'О нас', title: 'Наша команда' }) %>
          <p class="team-text">Данные люди являются сердцем нашей команды разработки, каждый из нас привносит свое дыхание жизни и делает каждый проект уникальным!</p>
        </div>
      </div>
      <div class="col-lg">
        <div class="row">
          <div class="col-12 col-sm-6 spacing">
            <div class="team-item" style="background-image: url(img/team.png);">
              <div class="container team-text-wrapper">
                <p class="team-text">Георгий Скрипченко</p>
                <p class="team-text">Ведущий разработчик</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 spacing">
            <div class="team-item" style="background-image: url(img/team.png);">
              <div class="container team-text-wrapper">
                <p class="team-text">Маргарита Зуй-Косак</p>
                <p class="team-text">Дизайнер</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 spacing-sm">
            <div class="team-item" style="background-image: url(img/team.png);">
              <div class="container team-text-wrapper">
                <p class="team-text">Никита Кирша</p>
                <p class="team-text">Ведущий прокрастинатор</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <div class="team-item add" style="background-image: url(img/team-add.png);">
              <div class="container team-text-wrapper">
                <p class="team-text">Хочешь стать частью команды?</p>
                <button data-modal-open-id="work-modal" class="button accent-2 shadow">Да</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>